doctype html
html
head
	title User Info App

body
	h1 User Database
	h3 
		a(class= "button" href= "http://localhost:3000/search") Search
		br
		a(class= "button" href= "http://localhost:3000/newUser") Register
	ul 
	each user in userData
		//- li First name: #{user.firstname}
		//- li Last name: #{user.lastname}
		//- li Email: #{user.email}
		//- br
		p #{user.firstname} #{user.lastname}: #{user.email}
		br
